In [8]:
#!python /content/drive/MyDrive/CEROUNO/CEROUNO/Projects/Project3/final_project/pp_colab.py

In [9]:
!cp /content/drive/MyDrive/CEROUNO/CEROUNO/Projects/Project3/final_project/pp_colab_v2.py /content

In [39]:
import io
import pandas as pd
import pp_colab_v2
from pp_colab_v2 import multi_mod

In [40]:
from google.colab import files
uploaded = files.upload()

Saving marketing_campaign.csv to marketing_campaign (1).csv

In [41]:
#from google.colab import drive
#drive.mount('content/drive')

In [42]:
df = pd.read_csv(io.StringIO(uploaded["marketing_campaign.csv"].decode("UTF-8")),"\t")

In [43]:
df.head(9)

     ID  Year_Birth   Education  ... Z_CostContact  Z_Revenue  Response
0  5524        1957  Graduation  ...             3         11         1
1  2174        1954  Graduation  ...             3         11         0
2  4141        1965  Graduation  ...             3         11         0
3  6182        1984  Graduation  ...             3         11         0
4  5324        1981         PhD  ...             3         11         0
5  7446        1967      Master  ...             3         11         0
6   965        1971  Graduation  ...             3         11         0
7  6177        1985         PhD  ...             3         11         0
8  4855        1974         PhD  ...             3         11         1

[9 rows x 29 columns]

In [ ]:
multi_mod(df)

 (1598, 26)

       mean_fit_time  std_fit_time  ...  std_test_score  rank_test_score
1067       0.148344      0.007019  ...       10.574215                1
1084       0.465451      0.011341  ...        9.891053                2
1412       0.194258      0.004871  ...       10.330137                3
933        0.350674      0.007802  ...       10.135710                4
722        0.168435      0.004840  ...       10.372536                5
877        0.164915      0.004199  ...       10.259806                6
857        0.160957      0.006985  ...       10.105727                7
818        0.278165      0.005402  ...       10.425071                8
1087       0.154406      0.002352  ...        9.805554                9
1277       0.140397      0.003458  ...       10.622410               10
803        0.281906      0.010201  ...       10.846218               11
853        0.308680      0.003389  ...       10.001366               12

[12 rows x 26 columns]

       mean_fit_time  std_fit_time  ...  std_test_score  rank_test_score
1538       0.005831      0.001196  ...       14.767041             1584
1508       0.005098      0.000180  ...       14.767041             1584
1544       0.004851      0.000047  ...       14.767041             1584
1568       0.006983      0.000086  ...       14.767041             1584
1514       0.005021      0.000074  ...       14.767041             1584
1550       0.004873      0.000112  ...       14.767041             1584
1562       0.007488      0.000564  ...       14.767041             1584
1532       0.004893      0.000031  ...       14.767041             1584
1520       0.006129      0.001441  ...       14.767041             1584
1575       0.005931      0.001084  ...       20.734580             1596
1587       0.008954      0.000968  ...       41.021941             1597
1          0.005505      0.001125  ...       12.873492             1598

[12 rows x 26 columns]

Best score:  -198.51231287361534

 {'model': RandomForestRegressor(max_depth=5, max_samples=0.23, min_samples_split=5), 'model__bootstrap': True, 'model__max_depth': 5, 'model__max_samples': 0.23, 'model__min_samples_split': 5, 'model__n_estimators': 100}

 Pipeline(steps=[('Scaler', StandardScaler()),
                ('model',
                 RandomForestRegressor(max_depth=5, max_samples=0.23,
                                       min_samples_split=5))])