In [1]:
import pp_multi_model
from pp_multi_model import multi_mod
from base_code.describe_df import data_description

In [2]:
df = data_description("data/marketing_campaign.csv","\t")

****** Rename Columns: ******

Original column names:
 Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

Renamed column names:
 Index(['id', 'year_birth', 'education', 'marital_status', 'income', 'kidhome',
       'teenhome', 'dt_customer', 'recency', 'mnt_wines', 'mnt_fruits',
       'mnt_meat_products', 'mnt_fish_products', 'mnt_sweet_products',
       'mnt_gold_prods', 'num_deals_purchases', 'num_web_purchases',
       'num_catalog_purchases', 'num_store_purchases', 'num_web_visits_month',
       'accepted_cmp3', 'accepted_cmp4', 'accepted_cmp5', 'accepted_cmp1',
       'accepted_cmp2', 'complain', 'z_costcontact', 'z_revenue', 'response'],
      dtype='object')

****** Data Frame Shape: ******

(2240, 29)

****** Head and Tail: ******

****** Describe: ******

****** Nulls by column: ******

id                        0
year_birth                0
education                 0
marital_status            0
income                   24
kidhome                   0
teenhome                  0
dt_customer               0
recency                   0
mnt_wines                 0
mnt_fruits                0
mnt_meat_products         0
mnt_fish_products         0
mnt_sweet_products        0
mnt_gold_prods            0
num_deals_purchases       0
num_web_purchases         0
num_catalog_purchases     0
num_store_purchases       0
num_web_visits_month      0
accepted_cmp3             0
accepted_cmp4             0
accepted_cmp5             0
accepted_cmp1             0
accepted_cmp2             0
complain                  0
z_costcontact             0
z_revenue                 0
response                  0
dtype: int64

****** Info: ******

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     2240 non-null   int64
 1   year_birth             2240 non-null   int64
 2   education              2240 non-null   object
 3   marital_status         2240 non-null   object
 4   income                 2216 non-null   float64
 5   kidhome                2240 non-null   int64
 6   teenhome               2240 non-null   int64
 7   dt_customer            2240 non-null   object
 8   recency                2240 non-null   int64
 9   mnt_wines              2240 non-null   int64
 10  mnt_fruits             2240 non-null   int64
 11  mnt_meat_products      2240 non-null   int64
 12  mnt_fish_products      2240 non-null   int64
 13  mnt_sweet_products     2240 non-null   int64
 14  mnt_gold_prods         2240 non-null   int64
 15  num_deals_purchases    2240 non-null   int64
 16  num_web_purchases      2240 non-null   int64
 17  num_catalog_purchases  2240 non-null   int64
 18  num_store_purchases    2240 non-null   int64
 19  num_web_visits_month   2240 non-null   int64
 20  accepted_cmp3          2240 non-null   int64
 21  accepted_cmp4          2240 non-null   int64
 22  accepted_cmp5          2240 non-null   int64
 23  accepted_cmp1          2240 non-null   int64
 24  accepted_cmp2          2240 non-null   int64
 25  complain               2240 non-null   int64
 26  z_costcontact          2240 non-null   int64
 27  z_revenue              2240 non-null   int64
 28  response               2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

****** Duplicated records: ******

****** Columns correlation: ******

****** Total unique values by column: ******

Number of unique values for column id:  2240 | Percent = 100.0%
Number of unique values for column year_birth:  59 | Percent = 2.63%
Number of unique values for column education:  5 | Percent = 0.22%
Number of unique values for column marital_status:  8 | Percent = 0.36%
Number of unique values for column income:  1974 | Percent = 88.12%
Number of unique values for column kidhome:  3 | Percent = 0.13%
Number of unique values for column teenhome:  3 | Percent = 0.13%
Number of unique values for column dt_customer:  663 | Percent = 29.6%
Number of unique values for column recency:  100 | Percent = 4.46%
Number of unique values for column mnt_wines:  776 | Percent = 34.64%
Number of unique values for column mnt_fruits:  158 | Percent = 7.05%
Number of unique values for column mnt_meat_products:  558 | Percent = 24.91%
Number of unique values for column mnt_fish_products:  182 | Percent = 8.12%
Number of unique values for column mnt_sweet_products:  177 | Percent = 7.9%
Number of unique values for column mnt_gold_prods:  213 | Percent = 9.51%
Number of unique values for column num_deals_purchases:  15 | Percent = 0.67%
Number of unique values for column num_web_purchases:  15 | Percent = 0.67%
Number of unique values for column num_catalog_purchases:  14 | Percent = 0.62%
Number of unique values for column num_store_purchases:  14 | Percent = 0.62%
Number of unique values for column num_web_visits_month:  16 | Percent = 0.71%
Number of unique values for column accepted_cmp3:  2 | Percent = 0.09%
Number of unique values for column accepted_cmp4:  2 | Percent = 0.09%
Number of unique values for column accepted_cmp5:  2 | Percent = 0.09%
Number of unique values for column accepted_cmp1:  2 | Percent = 0.09%
Number of unique values for column accepted_cmp2:  2 | Percent = 0.09%
Number of unique values for column complain:  2 | Percent = 0.09%
Number of unique values for column z_costcontact:  1 | Percent = 0.04%
Number of unique values for column z_revenue:  1 | Percent = 0.04%
Number of unique values for column response:  2 | Percent = 0.09%

****** Count for unique values by column(v2): ******

5524    1
6885    1
3478    1
7494    1
1763    1
       ..
5682    1
5564    1
6516    1
6255    1
9405    1
Name: id, Length: 2240, dtype: int64


1976    89
1971    87
1975    83
1972    79
1978    77
1970    77
1973    74
1965    74
1969    71
1974    69
1956    55
1958    53
1979    53
1952    52
1977    52
1968    51
1959    51
1966    50
1954    50
1955    49
1960    49
1982    45
1963    45
1967    44
1962    44
1957    43
1951    43
1983    42
1986    42
1964    42
1980    39
1981    39
1984    38
1961    36
1953    35
1985    32
1989    30
1949    30
1950    29
1988    29
1987    27
1948    21
1990    18
1946    16
1947    16
1991    15
1992    13
1945     8
1943     7
1944     7
1993     5
1995     5
1994     3
1996     2
1899     1
1941     1
1893     1
1900     1
1940     1
Name: year_birth, dtype: int64


Graduation    1127
PhD            486
Master         370
2n Cycle       203
Basic           54
Name: education, dtype: int64


Married     864
Together    580
Single      480
Divorced    232
Widow        77
Alone         3
Absurd        2
YOLO          2
Name: marital_status, dtype: int64


7500.0     12
35860.0     4
37760.0     3
83844.0     3
63841.0     3
           ..
40760.0     1
41452.0     1
6835.0      1
33622.0     1
52869.0     1
Name: income, Length: 1974, dtype: int64


0    1293
1     899
2      48
Name: kidhome, dtype: int64


0    1158
1    1030
2      52
Name: teenhome, dtype: int64


31-08-2012    12
12-09-2012    11
14-02-2013    11
12-05-2014    11
20-08-2013    10
              ..
05-08-2012     1
18-11-2012     1
25-05-2013     1
14-04-2013     1
09-01-2014     1
Name: dt_customer, Length: 663, dtype: int64


56    37
30    32
54    32
46    31
92    30
      ..
41    15
59    14
22    13
7     12
44    11
Name: recency, Length: 100, dtype: int64


2       42
5       40
1       37
6       37
4       33
        ..
806      1
61       1
986      1
1230     1
428      1
Name: mnt_wines, Length: 776, dtype: int64


0      400
1      162
2      120
3      116
4      104
      ...
164      1
130      1
189      1
101      1
154      1
Name: mnt_fruits, Length: 158, dtype: int64


7      53
5      50
11     49
8      46
6      43
       ..
116     1
569     1
685     1
354     1
182     1
Name: mnt_meat_products, Length: 558, dtype: int64


0      384
2      156
3      130
4      108
6       82
      ...
232      1
167      1
247      1
194      1
229      1
Name: mnt_fish_products, Length: 182, dtype: int64


0      419
1      161
2      128
3      101
4       82
      ...
146      1
132      1
167      1
99       1
111      1
Name: mnt_sweet_products, Length: 177, dtype: int64


1      73
4      70
3      69
5      63
12     63
       ..
178     1
169     1
132     1
262     1
247     1
Name: mnt_gold_prods, Length: 213, dtype: int64


1     970
2     497
3     297
4     189
5      94
6      61
0      46
7      40
8      14
9       8
15      7
10      5
11      5
12      4
13      3
Name: num_deals_purchases, dtype: int64


2     373
1     354
3     336
4     280
5     220
6     205
7     155
8     102
9      75
0      49
11     44
10     43
27      2
23      1
25      1
Name: num_web_purchases, dtype: int64


0     586
1     497
2     276
3     184
4     182
5     140
6     128
7      79
8      55
10     48
9      42
11     19
28      3
22      1
Name: num_catalog_purchases, dtype: int64


3     490
4     323
2     223
5     212
6     178
8     149
7     143
10    125
9     106
12    105
13     83
11     81
0      15
1       7
Name: num_store_purchases, dtype: int64


7     393
8     342
6     340
5     281
4     218
3     205
2     202
1     153
9      83
0      11
20      3
10      3
14      2
19      2
17      1
13      1
Name: num_web_visits_month, dtype: int64


0    2077
1     163
Name: accepted_cmp3, dtype: int64


0    2073
1     167
Name: accepted_cmp4, dtype: int64


0    2077
1     163
Name: accepted_cmp5, dtype: int64


0    2096
1     144
Name: accepted_cmp1, dtype: int64


0    2210
1      30
Name: accepted_cmp2, dtype: int64


0    2219
1      21
Name: complain, dtype: int64


3    2240
Name: z_costcontact, dtype: int64


11    2240
Name: z_revenue, dtype: int64


0    1906
1     334
Name: response, dtype: int64

In [3]:
model_variables = [
    "mnt_wines",
    "client_age",
    "total_children",
    "income",
    "num_web_visits_month",
    "mnt_meat_products",
    "mnt_fruits",
    "num_store_purchases",
    "num_catalog_purchases",
    "num_deals_purchases"
]

In [4]:
# Evaluar multiples modelos
multi_mod(df,model_variables)

 (1598, 26)

Best score:  -153.00567408237427

 {'model': RandomForestRegressor(max_depth=6, max_samples=0.78, min_samples_split=3,
                      n_estimators=300), 'model__bootstrap': True, 'model__max_depth': 6, 'model__max_samples': 0.78, 'model__min_samples_split': 3, 'model__n_estimators': 300}

 Pipeline(steps=[('Scaler', StandardScaler()),
                ('model',
                 RandomForestRegressor(max_depth=6, max_samples=0.78,
                                       min_samples_split=3,
                                       n_estimators=300))])